@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border p-0 m-0;
  }

  html,
  body {
    @apply font-sauce text-[2.3988vh] leading-[3.5982vh];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

@layer utilities {
  @keyframes tdl {
    to {
      clip-path: inset(0 -1ch 0 0);
    }
  }

  .three-dot-loader {
    display: inline-block;
    clip-path: inset(0 3ch 0 0);
    animation: tdl 1s steps(4) infinite;
  }
}

#__next {
  @apply flex flex-col h-screen w-screen bg-black p-4 text-white;
}
